<h2>Day Pass</h2>

<script src="https://checkout.stripe.com/checkout.js"></script>

<p class="daypassbutton" id="DayPassButton1">1 day pass</p><br>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
    image: '/square-image.png',
    token: function(token) {
        token.email
        token.name
        token.phone
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#DayPassButton1').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'DayPass for 1 day',
      description: '1 day pass($10.00)',
      amount: 1000
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>

<p class="daypassbutton" id="DayPassButton2">3 day passes</p><br>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
    image: '/square-image.png',
    token: function(token) {
        token.email
        token.name
        token.phone
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#DayPassButton2').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'DayPass for 1 day',
      description: '1 day pass($10.00)',
      amount: 1000
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>

<p class="daypassbutton" id="DayPassButton5">5 day passes</p><br>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
    image: '/square-image.png',
    token: function(token) {
        token.email
        token.name
        token.phone
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#DayPassButton5').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'DayPass for 1 day',
      description: '1 day pass($10.00)',
      amount: 1000
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>

