<h1>The Visitors list invited by <%= @user.name%></h1>

<ul>
	<% @user.event.each do |event| %>
	<li>
		<%= event.name %>
		:<%= events.description %>
		<ul>
			<% event.id.each do |id| %>
			<li><% @user.find(id) %></li>
			<% end %>
	</li>
	<% end %>
</ul>