<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Welcome to RockIT CoLabs Entrance.</h1>
    <p>you have invited ro rockit colabs as a member. Please set your password to complete the membership.</p>
</body>
</html>