<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Welcome to RockIT CoLabs Entrance.</h1>
    <p>you have invited ro rockit colabs as a member. Please set your password to complete the membership.</p>
    <%= hidden_field_tag :hidden_token, value: @hidden_token %>
    <%= link_to 'Complete Signing Up', 'http://localhost:3000/users/sign_up', method: :post %>
</body>
</html>