<h2>Your Event has applied</h2>

<ul>
  <li>
    Title: <%= @event.title %><br>
	Author: <%= @event.owner.name %><br>
	Description: <%= @event.description %>
  </li>
</ul>
<br>
<br>
<%= link_to image_tag("button_events.png"), events_path %>

