<h2>The Payment Transaction has successfully done</h2>

Your daypass account has successfully provided. Please Log in with the password below.

<strong><%= user.password %></strong>
<br>
<br>
<br>
<h3>User Info</h3>
<ul>
    <li>
        Email: <%= @charge.email %>
    </li>
    <li>
        Days: <%= @charge.day %>
    </li>
    <li>
        Amount: <%= @amount %>
    </li>
</ul>